h1{
    color: blue;
}

div{
    border: 1px solid black;
}

.gameboard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    height: 500px;
    width: 500px;
    font-size: 100px;
}

.grid{
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}